#jinja2: lstrip_blocks: True
---
# {{ansible_managed}}
#
# This file is organized into four sections: Profile, Organizations, Orderer,
# and Application. It makes heavy use of YAML "node anchors" and references 
# to such from the Profile section to the other sections.  This is used for 
# instance to define the "boiler plate" for the default configuration of an
# "Orderer" (e.g., "&OrdererDefaults") in the Orderer section which is then
# referenced in the profile (e.g., "<<: *OrdererDefaults") in the Profile 
# section.  
# See: http://www.yaml.org/spec/1.2/spec.html#id2785586  
#
# The Profile section is a collection of configuration artifact definitions,
# each of which can be referenced by separate invocations of the confgtxgen 
# tool to generate the various files (artifacts) needed to configure instances 
# of Hyperledger Fabric.  In particular, profiles can be defined for the 
# "genesis" block for the Orderer, and for Channels.
#
# The Organizations section defines the details of each "organization" 
# referenced by definitions in the Profile section.  
#
# The Orderer section defines default values for "orderers."  These will 
# be referenced in the Profile section, where default values will be 
# overridden and missing values provided.
#
# The Application section defines default values referenced by profiles 
# defining Channels.
 
#------------------------------------------------------------------------------
# Profile Definitions.
#
# Each profile defined below specifies a configuration to be processed by 
# the configtxgen tool.
# 
#------------------------------------------------------------------------------

Profiles:
  {% for profile in profiles %}
  
  {{profile.name}}:
      {% if profile.orderer is defined %}
      Orderer:
         <<: *{{profile.orderer.defaultstag}}
         {% if profile.orderer.organizations is defined %}
         Organizations:
             {% for org in profile.orderer.organizations %}
             - *{{org}}
             {% endfor %}
         {% endif %}
      {% endif %}
      {% if profile.consortiums is defined %}
      Consortiums:
        {% for consortium in profile.consortiums %}
        {{consortium.name}}:
           {% if consortium.organizations is defined %}
           Organizations:
             {% for organization in consortium.organizations %}
               - *{{organization}}
             {% endfor %}
           {% endif %}
        {% endfor %}
      {% endif %}
      {% if profile.consortium is defined %}
      Consortium: {{profile.consortium}}
      Application:
         <<: *{{profile.application.tag}}
         Organizations:
            {% for org in profile.application.organizations %}
              - *{{org}}
            {% endfor %}
      {% endif %}
  {% endfor %}

#------------------------------------------------------------------------------
# Organizations
#
# Define the characteristics of each of the "organizations."  These are referenced
# in the profiles above by their "tag."
#------------------------------------------------------------------------------

Organizations:
  {% for org in organizations %}
  
  - &{{org.tag}}
      Name: {{org.name}}
      ID: {{org.id}}
      MSPDir: {{org.msp_dir}}
      BCCSP:
        Default: SW
        SW:
           Hash: SHA2
           Security: 256
           FileKeyStore:
               KeyStore:
      {% if org.anchorpeers is defined %}
      AnchorPeers:
        {% for peer in org.anchorpeers %}
        - HOST: {{peer.host}}
          Port: {{peer.port}}
        {% endfor %}
      {% endif %}
  {% endfor %}

#------------------------------------------------------------------------------
# Orderer
#
# Initialization values for a configuration transaction and Orderer genesis block.
#------------------------------------------------------------------------------
  
Orderer: &{{ordererdefaults.tag}}
    
    OrdererType: {{ordererdefaults.type}}      # "solo" or "kafka"
    Addresses:
       {% for addr in ordererdefaults.addresses %}
       - {{addr}}
       {% endfor %}
    # The time the Orderer should wait before creating a batch.
    BatchTimeout: {{ordererdefaults.batch.timeout}}        
    BatchSize:
       MaxMessageCount: {{ordererdefaults.batch.maxmsgcount}}    # Max. num. messages in a batch.
       AbsoluteMaxBytes: {{ordererdefaults.batch.maxbytes}}    # Max. size of a batch.
       PreferredMaxBytes: {{ordererdefaults.batch.preferredmaxbytes}} # Preferred size of a batch.
    MaxChannels: {{ordererdefaults.maxchannels}}        # Max. num. channels.  0 -> No Limit.
    Kafka:
      Brokers:
       {% for broker in ordererdefaults.kafka.brokers %}
       - {{broker}}
       {% endfor %}
    Organizations:
    {% if ordererdefaults.organizations is defined %}
      {% for org in ordererdefaults.organizations %}
        - {{org}}
      {% endfor %}
    {% endif %}
      
#------------------------------------------------------------------------------      
# Application
#
# Default application values.
#------------------------------------------------------------------------------

Application: &{{applicationdefaults.tag}}
   Organizations:    # Participants on the application side of the network.
   