#jinja2: lstrip_blocks: True
# ---------------------------------------------------------------------------
# "OrdererOrgs" - Definition of organizations managing orderer nodes
# ---------------------------------------------------------------------------
OrdererOrgs:
{% for org in cryptoconfig.ordererorgs %}
  # ---------------------------------------------------------------------------
  # {{org.name}}
  # ---------------------------------------------------------------------------
  - Name: {{org.name}}
    Domain: {{org.domain}}
    {% if org.specs is defined %}
    Specs:
      {% for spec in org.specs %}
      - Hostname: {{spec.hostname}}
        {% if spec.commonname is defined %}
      - CommonName: {{spec.commonname}}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if org.template is defined %}
    Template:
      Count: {{org.template.count}}
      {% if org.template.start is defined %}
      Start: {{org.template.start}}
      {% endif %}
      {% if org.template.hostname is defined %}
      Hostname: {{org.template.hostname}}
      {% endif %}
    {% endif %}
{% endfor %}
# ---------------------------------------------------------------------------
# "PeerOrgs" - Definition of organizations managing peer nodes
# ---------------------------------------------------------------------------
PeerOrgs:
  {% for org in cryptoconfig.peerorgs %}
  # ---------------------------------------------------------------------------
  # {{org.name}}
  # ---------------------------------------------------------------------------
  - Name: {{org.name}}
    Domain: {{org.domain}}
    {% if org.specs is defined %}
    Specs:
      {% for spec in org.specs %}
      - Hostname: {{spec.hostname}}
      {% if spec.commonname is defined %}
      - CommonName: {{spec.commonname}}
      {% endif %}
    {% endfor %}
    {% endif %}
    {% if org.template is defined %}
    Template:
      Count: {{ org.template.count }}
      {% if org.template.start is defined %}
      Start: {{ org.template.start }}
      {% endif %}
      {% if org.template.start is defined %}
      Hostname: {{ org.template.hostname }}
      {% endif %}
    {% endif %}
    {% if org.numusers is defined %}
    Users:
      Count: {{ org.numusers }}
    {% endif %}
{% endfor %}