#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
version: "3"

services:
  {{fabric_compose.ca.name}}.{{fabric_compose.ca.domain}}:
    image: {{fabric_compose.ca.image}}
    environment:
      - FABRIC_CA_HOME={{fabric_compose.ca.env.ca_home}}
      - FABRIC_CA_SERVER_TLS_ENABLED={{fabric_compose.ca.env.ca_server_tls_enabled}}
      - FABRIC_CA_SERVER_TLS_CERTFILE={{fabric_compose.ca.env.ca_server_tls_certfile}}
      - FABRIC_CA_SERVER_TLS_KEYFILE={{fabric_compose.ca.env.ca_server_tls_keyfile}}
    ports:
    {% for port in fabric_compose.ca.ports %}
      - {{port}}
    {% endfor %}
    command: {{fabric_compose.ca.command}}
    volumes:
     {% for volume in fabric_compose.ca.volumes %}
      - {{volume}}
    {% endfor %}
    container_name: {{fabric_compose.ca.name}}.{{fabric_compose.ca.domain}}

  {{fabric_compose.orderer.name}}.{{fabric_compose.orderer.domain}}:
    image: {{fabric_compose.orderer.image}}
    environment:
    working_dir: {{fabric_compose.orderer.workingdir}}
    ports:
    {% for port in fabric_compose.orderer.ports %}
      - {{port}}
    {% endfor %}
    command: {{fabric_compose.orderer.command}}
    volumes:
     {% for volume in fabric_compose.orderer.volumes %}
      - {{volume}}
    {% endfor %}
    container_name: {{fabric_compose.orderer.name}}.{{fabric_compose.orderer.domain}}
    depends_on: 
      - {{fabric_compose.ca.name}}.{{fabric_compose.ca.domain}}

{% for org in fabric_compose.peers.organizations %}

 {% for number in range(0, org.numpeers) %}
 
  {{org.peername}}{{number}}.{{org.domain}}:
    image: {{fabric_compose.peers.image}}
    environment:
       - CORE_PEER_ID={{org.peername}}{{number}}.{{org.domain}}
       - CORE_PEER_ADDRESS={{org.peername}}{{number}}.{{org.domain}}:7051
       - CORE_PEER_GOSSIP_EXTERNALENDPOINT={{org.peername}}{{number}}.{{org.domain}}:7051
       {% if number > 0 %}
       - CORE_PEER_GOSSIP_BOOTSTREP={{org.peername}}0.{{org.domain}}
       {% endif %}
       - CORE_PEER-LOCALMSPID={{org.env.localmspid}}
       - CORE_VM_ENDPOINT={{org.env.vm_endpoint}}
       - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE={{org.env.vm_docker_hostconfig_networkmode}}
       - CORE_LOGGING_LEVEL={{org.env.logging_level}}
       - CORE_PEER_TLS_ENABLED={{org.env.tls_enabled}}
       - CORE_PEER_ENDORSER_ENABLED={{org.env.endorser_enabled}}
       - CORE_PEER_GOSSIP_USELEADERELECTION={{org.env.gossip_useleaderelection}}
       - CORE_PEER_GOSSIP_ORGLEADER={{org.env.gossip_orgleader}}
       - CORE_PEER_GOSSIP_SKIPHANDSHAKE={{org.env.gossip_skiphandshake}}
       - CORE_PEER_PROFILE_ENABLED={{org.env.gossip_profile_enabled}}
       - CORE_PEER_TLS_CERT_FILE={{org.env.tls_cert_file}}
       - CORE_PEER_TLS_KEY_FILE={{org.env.tls_key_file}}
       - CORE_PEER_TLS_ROOTCERT_FILE={{org.env.tls_rootcert_file}}
    working_dir: {{org.workingdir}}
    ports:
    command: {{fabric_compose.peers.command}}
    volumes:
    container_name: {{org.peername}}{{number}}.{{org.domain}}
    depends_on:
       - {{fabric_compose.ca.name}}.{{fabric_compose.ca.domain}}
       - {{fabric_compose.orderer.name}}.{{fabric_compose.orderer.domain}}
       {% if number > 0 %}
       {% for i in range(0, number) %}
       - {{org.peername}}{{i}}.{{org.domain}}
       {% endfor %}
       {% endif %}
  {% endfor %}
  
{% endfor %}

networks:
     {{fabriclauncher_swarm_overlay_network_name}}:
        driver: overlay   