# {{ ansible_managed }}
version: "3"
services:
  membersvc0:
    image: {{fabriclauncher_msvc_image}}
    environment:
      - CORE_VM_ENDPOINT=http://{{fabriclauncher_swarm_overlay_network_endpoint_ip}}:{{fabriclauncher_swarm_overlay_network_endpoint_port}}
    command: membersrvc
    deploy:
      replicas: 1
      restart_policy:
         condition: on-failure
    ports:
      - 5000:5000
    networks:
      - {{fabriclauncher_swarm_overlay_network_name}}

{% for number in range(0, fabriclauncher_num_validating_peers) %}
  vp{{number}}:
     image: {{fabriclauncher_vpeer_image}}
     depends_on: 
       - membersrvc0
     environment: 
      - CORE_PEER_ID=vp{{number}}
      {% if number > 0 -%}
      - CORE_PEER_DISCOVERY_ROOTNODE=vp0:30303
      {% endif -%}
      - CORE_SECURITY_ENABLED={{fabriclauncher_core_security_enabled}}
      {% if fabriclauncher_core_security_enabled == 'true' -%}
      - CORE_PEER_PKI_ECA_PADDR=membersrvc0:50051
      - CORE_PEER_PKI_TCA_PADDR=membersrvc0:50051
      - CORE_PEER_PKI_TLSCA_PADDR=membersrvc0:50051
      - CORE_PEER_PKI_TLS_ROOTCERT_FILE=./bddtests/tlsca.cert
        # TODO: Currently required due to issue reading obbca configuration location
      - CORE_PBFT_GENERAL_N=4
        # The checkpoint interval in sequence numbers
      - CORE_PBFT_GENERAL_K=2
      {% else -%}
      # NOOPS consensus configuration
      # These need to be added or the NOOPS code will look in the
      # config.yaml file which is likely specified only for pbft DAF
      - CORE_NOOPS_BLOCK_SIZE=1000
      - CORE_NOOPS_BLOCK_TIMEOUT=1
      {% endif -%}
      - CORE_PEER_ADDRESSAUTODETECT=true
      - CORE_VM_ENDPOINT=http://{{fabriclauncher_swarm_overlay_network_endpoint_ip}}:{{fabriclauncher_swarm_overlay_network_endpoint_port}}
      # TODO:  This is currently required due to BUG in variant logic based upon log level.
      - CORE_LOGGING_LEVEL=DEBUG
      # Startup of peer must be delayed to allow membersrvc to come up first
     command: sh -c "sleep 5; peer node start"
     networks:
      - {{fabriclauncher_swarm_overlay_network_name}}
      
{% endfor %}

networks:
     {{fabriclauncher_swarm_overlay_network_name}}:
        driver: overlay   