#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
version: "3"

services:
# CA
  ca.{{fabric_compose.ca.domain}}:
    build:
      context: .
      dockerfile: Dockerfile-ca
      args:
        caserverdonfigdir: {{fabriclauncher_config_dir}}/crypto-config/peerOrganizations/peerorgname.{{domain}}/ca/
    environment:
      - FABRIC_CA_SERVER_TLS_ENABLED={{fabric_compose.ca.env.ca_server_tls_enabled}}
      - FABRIC_CA_SERVER_TLS_CERTFILE=/etc/hyperledger/fabric-ca-server-config/ca.{{fabric_compose.ca.domain}}-cert.pem
      - FABRIC_CA_SERVER_TLS_KEYFILE=/etc/hyperledger/fabric-ca-server-config/{{fabric_compose.ca.env.ca_server_tls_keyfile}}
    ports:
    {% for port in fabric_compose.ca.ports %}
      - {{port}}
    {% endfor %}
    command: {{fabric_compose.ca.command}}
    volumes:
     {% for volume in fabric_compose.ca.volumes %}
      - {{volume}}
    {% endfor %}
    container_name: ca.{{fabric_compose.ca.domain}}

# Orderer

  {{fabric_compose.orderer.name}}.{{fabric_compose.orderer.domain}}:
    build:
      context: .
      dockerfile: Dockerfile-orderer
      args:
        ordererdir: {{fabriclauncher_config_dir}}/crypto-config/ordererOrganizations/{{domain}}/orderers/orderer.{{domain}}
    environment:
      - ORDERER_GENERAL_LOGLEVEL=debug
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_GENESISMETHOD=file
      - ORDERER_GENERAL_GENESISFILE=/var/hyperledger/orderer/orderer.block
      - ORDERER_GENERAL_LOCALMSPID=OrdererMSP
      - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
      # TLS
      - ORDERER_GENERAL_TLS_ENABLED=true
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/msp/keystore/ORDERER_PRIVATE_KEY
      - ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/msp/signcerts/orderer.{{domain}}-cert.pem
      - ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/orderer/msp/cacerts/ca.{{domain}}-cert.pem]
    working_dir: {{fabric_compose.orderer.workingdir}}
    ports:
    {% for port in fabric_compose.orderer.ports %}
      - {{port}}
    {% endfor %}
    command: {{fabric_compose.orderer.command}}
    container_name: {{fabric_compose.orderer.name}}.{{fabric_compose.orderer.domain}}
    depends_on: 
      - ca.{{fabric_compose.ca.domain}}

# Peers
{% for org in fabric_compose.peers.organizations %}

 {% for number in range(0, org.numpeers) %}
 
  {{org.peername}}{{number}}.{{org.domain}}:
    build:
      context: .
      dockerfile: Dockerfile-peer
      args:
        peernum: {{number}}
        mspdir: {{fabriclauncher_config_dir}}/crypto-config/peerOrganizations/{{peerorgname}}.{{domain}}/peers/{{org.peername}}{{number}}.{{domain}}/msp
    environment:
       - CORE_PEER_ID={{org.peername}}{{number}}.{{org.domain}}
       - CORE_PEER_ADDRESS={{org.peername}}{{number}}.{{org.domain}}:7051
       - CORE_PEER_GOSSIP_EXTERNALENDPOINT={{org.peername}}{{number}}.{{org.domain}}:7051
       {% if number > 0 %}
       - CORE_PEER_GOSSIP_BOOTSTREP={{org.peername}}0.{{org.domain}}
       {% endif %}
       - CORE_PEER-LOCALMSPID={{org.env.localmspid}}
       - CORE_VM_ENDPOINT={{org.env.vm_endpoint}}
       - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE={{org.env.vm_docker_hostconfig_networkmode}}
       - CORE_LOGGING_LEVEL={{org.env.logging_level}}
       - CORE_PEER_TLS_ENABLED={{org.env.tls_enabled}}
       - CORE_PEER_ENDORSER_ENABLED={{org.env.endorser_enabled}}
       - CORE_PEER_GOSSIP_USELEADERELECTION={{org.env.gossip_useleaderelection}}
       - CORE_PEER_GOSSIP_ORGLEADER={{org.env.gossip_orgleader}}
       - CORE_PEER_GOSSIP_SKIPHANDSHAKE={{org.env.gossip_skiphandshake}}
       - CORE_PEER_PROFILE_ENABLED={{org.env.gossip_profile_enabled}}
       - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/msp/signcerts/{{org.peername}}{{number}}.{{domain}}-cert.pem
       - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/msp/keystore/PEER_PRIVATEKEY_HERE
       - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/msp/cacerts/ca.{{domain}}-cert.pem
    working_dir: {{org.workingdir}}
    ports:
    command: {{fabric_compose.peers.command}}
    volumes:
       - /var/run/:/host/var/run/
    container_name: {{org.peername}}{{number}}.{{org.domain}}
    depends_on:
       - ca.{{fabric_compose.ca.domain}}
       - {{fabric_compose.orderer.name}}.{{fabric_compose.orderer.domain}}
       {% if number > 0 %}
       {% for i in range(0, number) %}
       - {{org.peername}}{{i}}.{{org.domain}}
       {% endfor %}
       {% endif %}
       
    #----------------------------------------------------------------------------
    
  {% endfor %}
{% endfor %}

networks:
     {{fabriclauncher_swarm_overlay_network_name}}:
        driver: overlay   